img {
  height: auto;
  width: 100%;
}

#jack-diamonds-hidden {
  display: none;
}

#king-diamonds-hidden {
  display: none;
}

#king-diamonds2-hidden {
  display: none;
}

#jack-diamonds2-hidden {
  display: none;
}

#king-hearts-hidden {
  display: none;
}

#king-hearts2-hidden {
  display: none;
}

#queen-hearts-hidden {
  display: none;
}

#queen-hearts2-hidden {
  display: none;
}

#queen-clubs-hidden {
  display: none;
}

#queen-clubs2-hidden {
  display: none;
}

.facehidden {
  display: none;
}
